.RightContainer {
  padding-left: 0;
  position: absolute;
  right: 0;
  max-width: 736px;
  padding-top: 88px;
  padding-bottom: 88px;
  padding-right: 88px;
}

#acknowledgment {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 12px;
  font-weight: 100;
  text-align: right;
}