.About > h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.25;
    margin: 0px;
    color: rgb(21, 21, 21);
}

.About > p {
    line-height: 2;
    margin: 0px;
    margin-top: 32px;
}