.Contact {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 72px;
}

.contact-span {
    display: inline-block;
    height: 1px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: -1px;
    width: 48px;
}

  
a {
    color: rgb(21, 21, 21);
    text-decoration: none;
}


img {
    display: block;
    max-width: 100%;
    border-radius: 9999px;
    height: 50px;
    margin-right: 35px;
    width: 50px;
}

#ul-contact {
    list-style: none;
    padding: 0;
    display: flex;
    margin-left: -16px;
    margin-right: -16px;
}

  