.App {
  display: flex;
  flex-direction: row;
  width: 100vw;
  position: relative;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: rgb(21, 21, 21);
}

body {
  overflow-x: hidden;
  background-color: rgb(237, 233, 225);
  margin: 0;
}

h1, h3, p, ul {
  margin: 0px;
  color: rgb(21, 21, 21);
}

a {
  color: rgb(21, 21, 21);
  text-decoration: none;
}