.App {
  display: flex;
  flex-direction: row;
  width: 100vw;
  color: rgb(148, 148, 149);
  position: relative;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

body {
  overflow-x: hidden;
  background-color: rgb(237, 233, 225);
  margin: 0;
}